app-brand-title{
    
    div-img {
        background-image: url(./../assets/images/logo/logo-color.png);
        background-position: center;
        background-size: contain;
        margin-bottom: 2em;
        width: 12em;
        border: none !important;
        height: 12em;
        background-repeat: no-repeat;
        // margin: 3em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
        // @keyframes rotateAnim {
        //     from {
        //         transform: rotateY(0);
        //     }
    
        //     to {
        //         transform: rotateY(360deg);
        //     }
    
        //     from {
        //         transform: rotateZ(0);
        //     }
    
        //     to {
        //         transform: rotateZ(360deg);
        //     }
        // }
    
        animation: rotateAnim 10s linear infinite;
    }
}